.body {
  width: 1000px;
  margin: auto;
}
/* pierwszy rząd POCZĘTEK */
.title {
  font-weight: 200;
  font-size: 45px;
}

.main-gol-paragraph {
  line-height: 1.7;
  font-size: 15px;
}

.butotn-explore-more {
  position: relative;
}

.explore-more {
  border-radius: 25px;
  border: 1px solid black;
  padding: 7px 50px 7px 10px;
  background-color: #cff500;
}

.right-arrow {
  height: 13px;
  position: absolute;
  top: 8px;
  left: 115px;
}

.image-1 {
  width: 100%;
}

.image-2 {
  width: 100%;
}

.first-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "h1 image-2"
    "p image-2"
    "button image-2"
    "image-1 image-2";
}

.grid-first-row-h1 {
  grid-area: h1;
}

.grid-first-row-p {
  grid-area: p;
}

.butotn-explore-more {
  grid-area: button;
}

.grid-first-image-1 {
  grid-area: image-1;
}

.grid-first-image-2 {
  grid-area: image-2;
  width: 500px;
}

@media (max-width: 990px) {
  .body {
    width: 700px;
  }

  .grid-first-image-1 {
    width: 400px;
  }

  .grid-first-image-2 {
    width: 300px;
  }

  .title {
    font-size: 40px;
  }

  .butotn-explore-more {
    padding: 20px 0;
  }

  .right-arrow {
    top: 28px;
  }
}

@media (max-width: 650px) {
  .body {
    width: 350px;
  }

  .first-row {
    display: flex;
    flex-direction: column;
  }

  .grid-first-image-1 {
    order: 1;
  }

  .title {
    font-size: 35px;
  }
}

/* pierwszy rząd KONIEC */

/* drugi rząd POCZĄTEK */

.second-row {
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title paragraph paragraph"
    "w-1 w-2 w-3 w-4";
}

h2 {
  font-weight: 100;
  font-size: 35px;
}

.second-row-title {
  margin: 0 20px;
}

.second-row-paragraph {
  padding: 10px;
  line-height: 1.7;
  font-size: 15px;
  color: grey;
}

.second-row-paragraph-button {
  color: #ffffff;
  border-radius: 25px;
  border: 1px solid black;
  padding: 7px 50px 7px 10px;
  background-color: #000000;
}

.right-arrow-2 {
  height: 13px;
  position: absolute;
  top: 6px;
  left: 115px;
}

.button-wrapper {
  position: relative;
}

.second-row-title {
  grid-area: title;
}

.second-row-paragraph {
  grid-area: paragraph;
}

.second-row-paragraph-w-1 {
  grid-area: w-1;
  border-radius: 20px;
  transition: background-color 1s ease;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.second-row-paragraph-w-1:hover {
  background-color: #edebef;
  cursor: pointer;
}

.second-row-paragraph-w-2 {
  grid-area: w-2;
  border-radius: 20px;
  transition: background-color 1s ease;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.second-row-paragraph-w-2:hover {
  background-color: #edebef;
  cursor: pointer;
}

.second-row-paragraph-w-3 {
  grid-area: w-3;
  border-radius: 20px;
  transition: background-color 1s ease;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.second-row-paragraph-w-3:hover {
  background-color: #edebef;
  cursor: pointer;
}

.second-row-paragraph-w-4 {
  grid-area: w-4;
  border-radius: 20px;
  transition: background-color 1s ease;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.second-row-paragraph-w-4:hover {
  background-color: #edebef;
  cursor: pointer;
}

.second-row-img-chwytak {
  width: 20px;
}

.second-row-img-1 {
  width: 120px;
}

.second-row-img-2 {
  width: 130px;
}

.second-row-img-3 {
  width: 100px;
}

.second-row-img-4 {
  width: 90px;
}

/* drugi rząd KONIEC */
