.header {
  margin: 30px 50px;
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #edebef;
}

.logo-search-singin {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.svg-logo {
  width: 25px;
}

ol {
  display: flex;
  gap: 10px;
}

ol > li {
  list-style-type: none;
}

.signIn {
  border-radius: 50px;
  background-color: #edebef;
  border: 1px solid black;
  padding: 0px 10px;
  cursor: pointer;
}
