.header {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #edebef;
}

.main-nav {
  font-weight: 500;
}

.main-nav-menu {
  position: relative;
}

.main-nav-menu > li {
  cursor: pointer;
}

.main-nav-menu > li:hover {
  color: #b886fb;
  transition: color 0.5s;
}

.drop-lol {
  color: black;
}

.dot {
  color: rgb(153, 153, 153);
}

.main-nav-menu > li:hover .dot {
  color: #000000;
  transition: color 0.5s;
}

.brand {
  font-weight: 500;
  line-height: 3;
  margin-left: 3px;
  font-size: 14px;
}

.logo-search-singin {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.svg-logo {
  width: 25px;
}

ol {
  display: flex;
  gap: 40px;
}

ol > li {
  list-style-type: none;
}

.carrot {
  font-size: 11px;
}

.drop-menu {
  display: none;
}

.main-nav-menu > .learn:hover .drop-menu {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  left: 85px;
  top: 20px;
}

.signIn {
  border-radius: 50px;
  background-color: #edebef;
  border: 1px solid black;
  padding: 6px 15px;
  cursor: pointer;
}
